.Rproj.user
.Rhistory
.RData
.Ruserdata
_targets
data/derived_data/Bacon_runs/*
*.aux
*.log
*.bbl
*.blg
*.toc
*.tar.gz
*.nc
*.pdf
*.tex
output_for_irpeatmodels
private
renv
res_varsel_dd_stan_2_fit_1\.rds
dd-bias\.Rmd
dd-bias\.tex
data/derived_data/bg_spectrum_pure\.rds
data/derived_data/mir_quality_config\.rds
data/raw_data/readme\.txt

